<div>
    <h1> UserHinzufuegen </h1>
    <table id="tabelleDaten">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input #username type="username" placeholder="Username" id="input" name="username" (keyup)="istOk(username.value, email.value)"/></td>
                <td><input #email type="email" placeholder="E-Mail" id="input" name="email" (keyup)="istOk(username.value, email.value)"/></td>
            </tr>
        </tbody>
    </table>
    <button style="margin-top: 20px;" (click)="zurueck()">Zurück</button>
    <button style="margin-left: 20px;" id="speichern" (click)="speichern(username.value, email.value)" disabled>Speichern</button>
</div>

