<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Agrar Aktionen</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 10%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Artikelbezeichnung
        </th>
        <th>
            Inserted
        </th>
        <th>
            Zeitstempel
        </th>
        <th>
            Hersteller
        </th>
        <th>
            Artikelnummer
        </th>
        <th>
            Kategoriepfad
        </th>
        <th>
            Beschreibungsfeld
        </th>
        <th>
            Bild-Link
        </th>
        <th>
            Deeplink
        </th>
        <th>
            Verfuegbarkeit
        </th>
        <th>
            Versandkosten
        </th>
        <th>
            Bruttopreis
        </th>
        <th>
            Stattpreis
        </th>
        <th>
            Prozent
        </th>

    </tr>
    {#for item in items}
    <tr>
        <td>{item.itemId}</td>
        <td>{item.artikelbezeichnung}</td>
        <td>{item.inserted}</td>
        <td>{item.timestamp}</td>
        <td>{item.hersteller}</td>
        <td>{item.artikelnummer}</td>
        <td>{item.kategoriepfad}</td>
        <td>{item.beschreibungsfeld}</td>
        <td><a href="predictedView"><img src="{item.bildLink}" alt="alternativer_text" /></a></td>
        <td>{item.deeplink}</td>
        <td>{item.verfuegbarkeit}</td>
        <td>{item.versandkosten}</td>
        <td>{item.bruttopreis}</td>
        <td>{item.stattpreis}</td>
        <td>{item.percentage}</td>
    </tr>
    {/for}

</table>
</body>
</html>