<div>
    <h1> User</h1>
    <table id="tabelleDaten">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userr of user">
                <td (click)="clicked(userr)">{{userr.id}}</td>
                <td (click)="clicked(userr)">{{userr.username}}</td>
                <td (click)="clicked(userr)">{{userr.email}}</td>
                <td (click)="loeschen(userr)">Löschen</td>
            </tr>
        </tbody>
    </table>
    <button (click)="hinzufuegen()">Hinzufügen</button>
</div>

