#title {
    height: 80px;
    width: 100%;
    position:fixed;
    top: 5px;
    background-color: rgba(0, 0, 0, 0.37);
  }
  #title h1
  {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      text-align:end;

      color: #ffffff;
      margin-right: 50px;

  }
  #logo {
    width: 180px;
  }
  #titleTable {
    width: 100%;
  }