<div>
    <h1> UserBearbeiten </h1>
    <table id="tabelleDaten">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{user.id}}</td>
                <td><input #username type="text" placeholder="*Username" id="input" name="username" value="{{user.username}}" required  (keyup)="istOk(username.value, email.value)">
                <td><input #email type="text" placeholder="*Email" id="input" name="email" value="{{user.email}}" required (keyup)="istOk(username.value, email.value)">
            </tr>
        </tbody>
    </table>
    <button style="margin-top: 20px;" (click)="zurueck()">Zurück</button>
    <button style="margin-left: 20px;" id="speichern" (click)="speichern(username.value, email.value)" disabled>Speichern</button>
</div>

