<div>
    <h1> UserDetail </h1>
    <table id="tabelleDaten">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td (click)="bearbeiten()">{{user.id}}</td>
                <td (click)="bearbeiten()">{{user.username}}</td>
                <td (click)="bearbeiten()">{{user.email}}</td>
            </tr>
        </tbody>
    </table>
    <button (click)="zurueck()">Zurück</button>
</div>

