  #item {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
   
  }

  #item td {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }

  #description {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: 20%;
    width:60%;
  }
  
  #start h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: green;
    text-align: center;
  }

  #description h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-left: 20%;
    font-size: 26px;
  }

  #description p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  #description button{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;

  }

  #description ul {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-left: 20%;
    font-size: 16px;
  }

  .button {
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  #stattPreis {
    border: 0px;
    color: black;
    font-size: 22px;
   // text-align: right;
    padding-right: 10px;
    text-decoration: line-through;
  }
  
  
  
  