<html>
    <head>

    </head>
    <body>
        <div>
            <div id="left">
                <table id="kategorie" style="padding: 20px;">
                    <h1>Kategorien</h1>
                    <tbody>
                        <tr *ngFor="let kategorie of kategorien" style="font-size: 20px;"> 
                            <td (click)="clickKategorie(kategorie)">{{kategorie}}</td>
                        </tr>
                        <tr>
                           <td style="text-align: right; color: black;" (click)="kategorieZurueck()">Zurück</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>

            <div id="start">
                <input #begriff type="text" placeholder="Suchbegriff" id="searchFeld" (keyup)="suchen(begriff.value)"/>
            </div>
            <br><br>
            
            <table id="kategoriePfad">
                <tbody>
                    <tr>
                        <td *ngIf="kategoriePfad[0] != ''">{{kategoriePfad[0]}} / </td>
                        <td *ngIf="kategoriePfad[1] != ''">{{kategoriePfad[1]}} / </td>
                        <td *ngIf="kategoriePfad[2] != ''">{{kategoriePfad[2]}} / </td>
                        <td *ngIf="kategoriePfad[3] != ''">{{kategoriePfad[3]}} / </td>
                    </tr>
                </tbody>
            </table>

            <table id="items">
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <select #preis id="preisFilter" (change)="preisBis(preis.value, prozent.value)">
                                <option></option>
                                <option>10.00€</option>
                                <option>50.00€</option>
                                <option>100.00€</option>
                                <option>200.00€</option>
                                <option>500.00€</option>
                                <option>1000.00€</option>
                                <option>10000.00€</option>
                            </select>
                            <h2 id="preisBis">Preis bis </h2>
                            <select #prozent id="preisFilter" (change)="prozentAb(prozent.value, preis.value)">
                                <option></option>
                                <option>10%</option>
                                <option>20%</option>
                                <option>30%</option>
                                <option>40%</option>
                                <option>50%</option>
                                <option>60%</option>
                                <option>70%</option>
                                <option>80%</option>
                                <option>90%</option>
                                <option>100%</option>
                            </select>
                            <h2 id="preisBis">Prozent ab </h2>
                        </td>
                    </tr>
                    <tr *ngFor="let item of itemsAnzeige | paginate: { itemsPerPage: seitenzahl, currentPage: p }" id="items">
                        <td style="width: 200px;" (click)="clicked(item)"><img src={{item.bildLink}}></td>
                        <td style="width: 430px;">
                            <table style="border-color: white;">
                                <tbody>
                                    <tr id="link"> 
                                        <a href="{{item.deeplink}}" target="_blank" style="color: gray; text-decoration: none;"> {{item.apiLink.description}}</a>
                                    </tr>
                                    <tr (click)="clicked(item)">
                                        <th>{{item.artikelbezeichnung}}</th>
                                    </tr>
                                    <tr (click)="clicked(item)">
                                        <td id="beschreibung" >{{item.beschreibungsfeld}}</td>
                                    </tr>
                                    <tr (click)="clicked(item)">
                                        <td></td>
                                        <td id="startPreis"><b>{{item.stattpreis}}€</b></td>
                                    </tr>
                                    <tr (click)="clicked(item)">
                                        <td id="rabatt"> <b>- {{item.percentage.toFixed(0)}}% </b> </td>
                                        <td id="preis"><b>{{item.bruttopreis}}€</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="items">
                <tbody>
                    <tr style="text-align: center;">
                        <td> <pagination-controls (pageChange)="p = $event" (pageChange)="changepage()" [scrollLeft]="" ></pagination-controls></td>
                        <td> 
                        <select #anzahl (change)="seitenanzahl(anzahl.value)">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </td>
                    </tr> 
                </tbody>
            </table>    
        </div>  
        
        <br><br>
        
        <div id="impressum">
            <h1 style="color: rgba(0, 0, 0, 0.315); text-decoration: underline;">Impressum</h1>

            <table style="margin-left: auto; margin-right: auto; color: black;">
                    <tr>zukunft.farm eG - Die bäuerliche Innovationsgenossenschaft</tr>
                    <tr>Löwelstraße 14</tr>
                    <tr>1010 Wien</tr>
                    <tr>kontakt@zukunft.farm</tr>
                    <tr>Firmenbuchnummer: FN 556439 v</tr>
            </table>
        </div>

    </body>
   
</html>