

#items {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: 20%;
    border: 0px;
    padding: 8px;
  }
  
  #items tr:hover {background-color: #ddd;}
  
  #items th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    font-size: 25px;
  }
  #items tr {
    color: gray;
  }
select {
  font-size: 15px;
}

  .logo {
    display: block;
    margin-left: auto;
    width: 10%;
    height: 10%
  }

  #start {
    text-align: center;
    height: 300px;
   
  }
  #start h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

    color: green;
    text-align: center;
    font-size: 100px;

  }
  #filter {
    position: static;
  }
  #searchFeld {
    font-size: 30px;
    border-radius: 10px;
    margin-top: 170px;
  }
  #beschreibung {
   border: 0px; 
   width: 500px;
  }
  #preis {
    border: 0px;
    color: green;
    font-size: 30px;
    text-align: right;
  }
  #rabatt {
    border: 0px;
    color: red;
    font-size: 25px;
    text-align: right;
    padding-right: 10px;
  }
  #startPreis {
    border: 0px;
    color: black;
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
    text-decoration: line-through;
  }
