<html>
    <head>

    </head>
    <body>
        <div id="start">
            <input #begriff type="text" placeholder="Suchbegriff" id="searchFeld" (keyup)="suchen(begriff.value)"/>
        </div>
        <br><br>
       
        <table id="items" >
            <tbody>
                <tr *ngFor="let item of itemsAnzeige | paginate: { itemsPerPage: seitenzahl, currentPage: p }" id="items" (click)="clicked(item)">
                    <td style="width: 200px;"><img src={{item.bildLink}}></td>
                    <td style="width: 430px;">
                        <table style="border-color: white;">
                            <tbody>
                                <tr>
                                    <th>{{item.artikelbezeichnung}}</th>
                                </tr>
                                <tr>
                                    <td id="beschreibung" >{{item.beschreibungsfeld}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td id="startPreis" *ngFor="let price of item.prices"><b>{{price.bruttopreis}}€</b></td>
                                </tr>
                                <tr>
                                    <td id="rabatt" *ngFor="let price of item.prices"><b>- {{price.percentage.toFixed(0)}}%</b>  </td>
                                    <td id="preis" *ngFor="let price of item.prices"><b>{{price.stattpreis}}€</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    
                   
                </tr>
            </tbody>
        </table>
        <table id="items">
            <tbody>
                <tr style="text-align: center;">
                    <td> <pagination-controls (pageChange)="p = $event"></pagination-controls></td>
                    <td> 
                    <select #anzahl (change)="seitenanzahl(anzahl.value)">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </td>
                </tr> 
            </tbody>
        </table>       
    </body>
   
</html>